@(message: String)

@main("Slick Drive") {

	<section class="row">
	    <div class="column third">
			<ol class="results-table">
			    <li class="results-row">
			    	<span class="arrow"></span>
			    	<ul>
		    			<li class="logo">
		    				<img src="@routes.Assets.at("images/vehicles/vehicle1.jpg")" alt="Vauxhall Astra 1.6i Envoy 5dr Auto £2,400" />
						</li>
						<li class="vehicle-info">
							<span class="vehicle">Vauxhall Astra 1.6i Envoy 5dr Auto</span>
							<span class="price">
								£2,400
							</span>
						</li>
					</ul>
					<a class="details-link" href="#" title="View details">View Details</a>
	    		</li>
	    		<li class="results-row">
	    			<span class="arrow"></span>
	    			<ul>
	    				<li class="logo">
	    					<img src="@routes.Assets.at("images/vehicles/vehicle2.jpg")" alt="Honda Accord 1.8i 4dr Saloon £2,499" />
						</li>
						<li class="vehicle-info">
							<span class="vehicle">Honda Accord 1.8i 4dr Saloon</span>
							<span class="price">
								£2,499
							</span>
						</li>
					</ul>
					<a class="details-link" href="#" title="View details">View Details</a>
	    		</li>
	    		<li class="results-row">
	    			<span class="arrow"></span>
	    			<ul>
	    				<li class="logo">
	    					<img src="@routes.Assets.at("images/vehicles/vehicle4.jpg")" alt="Vauxhall Vectra 1.8 Club 5dr £2,550" />
						</li>
						<li class="vehicle-info">
							<span class="vehicle">Vauxhall Vectra 1.8 Club 5dr</span>
							<span class="price">
								£2,550
							</span>
						</li>
					</ul>
					<a class="details-link" href="#" title="View details">View Details</a>
	    		</li>
	    		<li class="results-row">
	    			<span class="arrow"></span>
	    			<ul>
	    				<li class="logo">
	    					<img src="@routes.Assets.at("images/vehicles/vehicle3.jpg")" alt="Ford Focus 1.8 TDi CL 5dr £2,650" />
						</li>
						<li class="vehicle-info">
							<span class="vehicle">Ford Focus 1.8 TDi CL 5dr</span>
							<span class="price">
								£2,650
							</span>
						</li>
					</ul>
					<a class="details-link" href="#" title="View details">View Details</a>
	    		</li>
	    		<li class="results-row">
	    			<span class="arrow"></span>
			    	<ul>
		    			<li class="logo">
		    				<img src="@routes.Assets.at("images/vehicles/vehicle1.jpg")" alt="Vauxhall Astra 1.6i Envoy 5dr Auto £2,400" />
						</li>
						<li class="vehicle-info">
							<span class="vehicle">Vauxhall Astra 1.6i Envoy 5dr Auto</span>
							<span class="price">
								£2,400
							</span>
						</li>
					</ul>
					<a class="details-link" href="#" title="View details">View Details</a>
	    		</li>
	    		<li class="results-row">
	    			<span class="arrow"></span>
	    			<ul>
	    				<li class="logo">
	    					<img src="@routes.Assets.at("images/vehicles/vehicle2.jpg")" alt="Honda Accord 1.8i 4dr Saloon £2,499" />
						</li>
						<li class="vehicle-info">
							<span class="vehicle">Honda Accord 1.8i 4dr Saloon</span>
							<span class="price">
								£2,499
							</span>
						</li>
					</ul>
					<a class="details-link" href="#" title="View details">View Details</a>
	    		</li>
	    		<li class="results-row">
	    			<span class="arrow"></span>
	    			<ul>
	    				<li class="logo">
	    					<img src="@routes.Assets.at("images/vehicles/vehicle4.jpg")" alt="Vauxhall Vectra 1.8 Club 5dr £2,550" />
						</li>
						<li class="vehicle-info">
							<span class="vehicle">Vauxhall Vectra 1.8 Club 5dr</span>
							<span class="price">
								£2,550
							</span>
						</li>
					</ul>
					<a class="details-link" href="#" title="View details">View Details</a>
	    		</li>
	    		<li class="results-row">
	    			<span class="arrow"></span>
	    			<ul>
	    				<li class="logo">
	    					<img src="@routes.Assets.at("images/vehicles/vehicle3.jpg")" alt="Ford Focus 1.8 TDi CL 5dr £2,650" />
						</li>
						<li class="vehicle-info">
							<span class="vehicle">Ford Focus 1.8 TDi CL 5dr</span>
							<span class="price">
								£2,650
							</span>
						</li>
					</ul>
					<a class="details-link" href="#" title="View details">View Details</a>
	    		</li>
	    	</ol>
	    </div>

		<div class="column two-thirds details">
			<h3 id="widgetVehicle"></h3>
			<h4 class="price" id="widgetPrice"></h4>

			<img id="widgetImage" src="" alt="" />

			<h4>Your <strong>MoneySuperMarket</strong> quotes</h3>
			<div class="results-constainer"></div>

			<ol class="results-table quotes">
				<li class="results-row">
					<ul>
						<li class="logo">
							<img alt="Hastings" src="@routes.Assets.at("images/HastingsPremier.jpg")" />
						</li>
						<li class="provider">Hastings Direct</li>
						<li class="cover-type">Comprehensive</li>
						<li class="price">
							<span>£230.50</span>
						</li>
						<li class="buy">
							<a href="#" class="button">Buy</a>
						</li>
					</ul>
				</li>
				<li class="results-row">
					<ul>
						<li class="logo">
							<img alt="Admiral" src="@routes.Assets.at("images/admiral.gif")" />
						</li>
						<li class="provider">Admiral</li>
						<li class="cover-type">Comprehensive</li>
						<li class="price">
							<span>£290.99</span>
						</li>
						<li class="buy">
							<a href="#" class="button">Buy</a>
						</li>
					</ul>
				</li>
				<li class="results-row">
					<ul>
						<li class="logo">
							<img alt="More Than" src="@routes.Assets.at("images/morethan.gif")" />
						</li>
						<li class="provider">More Than</li>
						<li class="cover-type">Comprehensive</li>
						<li class="price">
							<span>£330.25</span>
						</li>
						<li class="buy">
							<a href="#" class="button">Buy</a>
						</li>
					</ul>
				</li>
			</ol>

			<a href="#" class="button back-to-results">Back to results</a>
	    </div>    
	</section>
}
