@(message: String)

@main("Slick Drive") {

	<section class="row">
	    <div class="column third">
			<ol class="results-table">
			    <li class="results-row">
			    	<span class="arrow"></span>
			    	<ul>
		    			<li class="logo">
		    				<img src="@routes.Assets.at("images/vehicles/vehicle1.jpg")" alt="Vauxhall Astra 1.6i Envoy 5dr Auto £2,400" />
						</li>
						<li class="vehicle-info">
							<span class="vehicle">Vauxhall Astra 1.6i Envoy 5dr Auto</span>
							<span class="price">
								£2,400
							</span>
						</li>
					</ul>
					<a class="details-link" href="#" title="View details">View Details</a>
	    		</li>
	    		<li class="results-row">
	    			<span class="arrow"></span>
	    			<ul>
	    				<li class="logo">
	    					<img src="@routes.Assets.at("images/vehicles/vehicle2.jpg")" alt="Honda Accord 1.8i 4dr Saloon £2,499" />
						</li>
						<li class="vehicle-info">
							<span class="vehicle">Honda Accord 1.8i 4dr Saloon</span>
							<span class="price">
								£2,499
							</span>
						</li>
					</ul>
					<a class="details-link" href="#" title="View details">View Details</a>
	    		</li>
	    		<li class="results-row">
	    			<span class="arrow"></span>
	    			<ul>
	    				<li class="logo">
	    					<img src="@routes.Assets.at("images/vehicles/vehicle4.jpg")" alt="Vauxhall Vectra 1.8 Club 5dr £2,550" />
						</li>
						<li class="vehicle-info">
							<span class="vehicle">Vauxhall Vectra 1.8 Club 5dr</span>
							<span class="price">
								£2,550
							</span>
						</li>
					</ul>
					<a class="details-link" href="#" title="View details">View Details</a>
	    		</li>
	    		<li class="results-row">
	    			<span class="arrow"></span>
	    			<ul>
	    				<li class="logo">
	    					<img src="@routes.Assets.at("images/vehicles/vehicle3.jpg")" alt="Ford Focus 1.8 TDi CL 5dr £2,650" />
						</li>
						<li class="vehicle-info">
							<span class="vehicle">Ford Focus 1.8 TDi CL 5dr</span>
							<span class="price">
								£2,650
							</span>
						</li>
					</ul>
					<a class="details-link" href="#" title="View details">View Details</a>
	    		</li>
	    		<li class="results-row">
	    			<span class="arrow"></span>
			    	<ul>
		    			<li class="logo">
		    				<img src="@routes.Assets.at("images/vehicles/vehicle1.jpg")" alt="Vauxhall Astra 1.6i Envoy 5dr Auto £2,400" />
						</li>
						<li class="vehicle-info">
							<span class="vehicle">Vauxhall Astra 1.6i Envoy 5dr Auto</span>
							<span class="price">
								£2,400
							</span>
						</li>
					</ul>
					<a class="details-link" href="#" title="View details">View Details</a>
	    		</li>
	    		<li class="results-row">
	    			<span class="arrow"></span>
	    			<ul>
	    				<li class="logo">
	    					<img src="@routes.Assets.at("images/vehicles/vehicle2.jpg")" alt="Honda Accord 1.8i 4dr Saloon £2,499" />
						</li>
						<li class="vehicle-info">
							<span class="vehicle">Honda Accord 1.8i 4dr Saloon</span>
							<span class="price">
								£2,499
							</span>
						</li>
					</ul>
					<a class="details-link" href="#" title="View details">View Details</a>
	    		</li>
	    		<li class="results-row">
	    			<span class="arrow"></span>
	    			<ul>
	    				<li class="logo">
	    					<img src="@routes.Assets.at("images/vehicles/vehicle4.jpg")" alt="Vauxhall Vectra 1.8 Club 5dr £2,550" />
						</li>
						<li class="vehicle-info">
							<span class="vehicle">Vauxhall Vectra 1.8 Club 5dr</span>
							<span class="price">
								£2,550
							</span>
						</li>
					</ul>
					<a class="details-link" href="#" title="View details">View Details</a>
	    		</li>
	    		<li class="results-row">
	    			<span class="arrow"></span>
	    			<ul>
	    				<li class="logo">
	    					<img src="@routes.Assets.at("images/vehicles/vehicle3.jpg")" alt="Ford Focus 1.8 TDi CL 5dr £2,650" />
						</li>
						<li class="vehicle-info">
							<span class="vehicle">Ford Focus 1.8 TDi CL 5dr</span>
							<span class="price">
								£2,650
							</span>
						</li>
					</ul>
					<a class="details-link" href="#" title="View details">View Details</a>
	    		</li>
	    	</ol>
	    	<img src="@routes.Assets.at("images/animated.gif")" alt="Ford Focus 1.8 TDi CL 5dr £2,650" />
	    </div>

		<div class="column two-thirds details">
			<h3 id="widgetVehicle"></h3>
			<h4 class="price" id="widgetPrice"></h4>
			<p>Rigging bilged on her anchor boatswain execution dock jolly boat crack Jennys tea cup bring a spring upon her cable coffer take a caulk sloop. Gabion scallywag lookout rope's end grapple Nelsons folly bilge water gun transom jolly boat. Hands doubloon American Main pressgang gun galleon come about take a caulk crack Jennys tea cup furl.</p>

			<img id="widgetImage" src="" alt="" />

			
			<div class="results-container">
				
			</div>

			<a href="#" class="button back-to-results">Back to results</a>
	    </div>    
	</section>
}
