@(title: String)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <meta charset="utf-8"/>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, maximum-scale=1, user-scalable=1">
        <meta name="format-detection" content="telephone=no" />
        <meta name="apple-mobile-web-app-capable" content="yes">

		<link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/lib/normalise.css")" type="text/css" />
		<link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/lib/grid.css")" type="text/css" />
		<link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/common.css")" type="text/css" />
		<link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/responsive.css")" type="text/css" />

		<!--[if lt IE 9]>
		<script src="@routes.Assets.at("stylesheets/ie.css")"></script>
		<script src="@routes.Assets.at("javascripts/thirdparty/html5shiv.js")"></script>
		<script src="@routes.Assets.at("javascripts/thirdparty/html5shiv-printshiv.js")"></script>
		<![endif]-->

        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
    </head>
    <body>
    	<div id="wrapper" class="home">
			<header>
				<div class="container">
					<h1>
						<img src="@routes.Assets.at("images/slickdrive-logo.png")" alt="Slick Drive" />
					</h1>
					<a id="responsive-menu-button" href="#sidr-main">Menu</a>
				</div>
				<div class="msm-bar">					
				</div>
			</header>
			
			<div id="content" class="container page">
        		@content
        	</div>
        </div>
        <footer>
			<div class="container">
				<p><small>© 2014 Slick Industries</small></p>
			</div>
		</footer>

		<script type="text/javascript" src="@routes.Assets.at("javascripts/lib/jquery.1.11.0.min.js")"></script>
		<script type="text/javascript" src="@routes.Assets.at("javascripts/site.common.js")"></script>
		<script type="text/javascript" src="http://api.msmeco.co.uk/assets/javascripts/widgets/carinsurance.js"></script>
    </body>
</html>
